#=======#
# Unity #
#=======#
.vscode/
AssetStoreTools/
Build/
Generated/
Library/
Logs/
Temp/
VSCode/
AssetStoreTools.meta
Generated.meta
VSCode.meta
*.sln
*.csproj
*.unityproj
*.booproj

#=============================#
# MonoDevelop / Visual Studio #
#=============================#
bin/
obj/
ExportedObj/
.vs/
*.vsconfig
*.pidb
*.suo
*.svd
*.user
*.userprefs
*.ide

#========#
# GitEye #
#========#
.project

#====#
# OS #
#====#
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

#=============================#
# Polarith AI                 #
#=============================#
Assets/Polarith/AI/Plugins/Shaders/
Assets/Polarith/AI/Plugins/Editor/*.dll
Assets/Polarith/AI/Plugins/Editor/*.dll.meta
Assets/Polarith/AI/Plugins/Editor/*.xml
Assets/Polarith/AI/Plugins/Editor/*.xml.meta
Assets/Polarith/AI/Plugins/*.dll
Assets/Polarith/AI/Plugins/*.dll.meta
Assets/Polarith/AI/Plugins/*.xml
Assets/Polarith/AI/Plugins/*.xml.meta
